<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla JS!</title>
    {{!-- <link rel="stylesheet" href="./css/app.css"> --}}
</head>
<body>
    <header>
        <h1>Vanilla JS App setup</h1>
    </header>

    <main>
        <div class="card-gallery" data-comp="card-gallery" data-max-height="500">
            <nav class="card-gallery__nav">
                <span class="card-gallery__nav--prev" role="button"></span>
                <span class="card-gallery__nav--next" role="button"></span>
            </nav>
            <div class="card-gallery__items">
                <div class="card-gallery__item card-gallery__item--pic">
                    <img src="https://picsum.photos/500/500?random=1" alt="Image" class="card-gallery__item-image">
                    <div class="card-gallery__item-caption">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi placeat recusandae accusantium! Natus eum culpa doloribus necessitatibus dignissimos suscipit a.
                    </div>
                </div>
                <div class="card-gallery__item card-gallery__item--custom">
                    <h2>This is custom slide</h2>
                    <p>This slide can contain any kind of information</p>
                    <form action="/">
                        <div>
                            <input type="text" placeholder="Name">
                        </div>
                        <div>
                            <input type="text" placeholder="Email">
                        </div>
                        <div>
                            <input type="text" placeholder="Password">
                        </div>
                        <div>
                            <button>Register</button>
                        </div>
                    </form>
                </div>
                <div class="card-gallery__item card-gallery__item--pic">
                    <img src="https://picsum.photos/500/500?random=2" alt="Image" class="card-gallery__item-image">
                    <div class="card-gallery__item-caption">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi placeat recusandae accusantium! Natus eum culpa doloribus necessitatibus dignissimos suscipit a.
                    </div>
                </div>
                <div class="card-gallery__item card-gallery__item--pic">
                    <img src="https://picsum.photos/500/500?random=3" alt="Image" class="card-gallery__item-image">
                    <div class="card-gallery__item-caption">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi placeat recusandae accusantium! Natus eum culpa doloribus necessitatibus dignissimos suscipit a.
                    </div>
                </div>
                <div class="card-gallery__item card-gallery__item--pic">
                    <img src="https://picsum.photos/500/500?random=4" alt="Image" class="card-gallery__item-image">
                    <div class="card-gallery__item-caption">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi placeat recusandae accusantium! Natus eum culpa doloribus necessitatibus dignissimos suscipit a.
                    </div>
                </div>
                <div class="card-gallery__item card-gallery__item--pic">
                    <img src="https://picsum.photos/500/500?random=5" alt="Image" class="card-gallery__item-image">
                    <div class="card-gallery__item-caption">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi placeat recusandae accusantium! Natus eum culpa doloribus necessitatibus dignissimos suscipit a.
                    </div>
                </div>
            </div>
            <div class="card-gallery__desc">
                <h2 class="card-gallery__desc-title">Card Gallery Component</h2>
                <p class="card-gallery__desc-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam placeat consequatur cupiditate hic deserunt odit sunt veniam natus praesentium, distinctio, nemo dolores dolore sed expedita?</p>
            </div>
        </div>

        <div class="accordion" data-comp="accordion" data-multiple="true" data-active-class="accordion--active">
            <h2 class="accordion__title">Accordion: Multiple Expandable</h2>
            <p class="accordion__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe reiciendis sed iure dolorem praesentium voluptatibus quia, vitae maiores quod, quasi dolores animi consequatur exercitationem quos quas incidunt nobis dolore perspiciatis!</p>

            <div class="accordion__item">
                <h3 class="accordion__item-title">What is an accordion?</h3>
                <div class="accordion__item-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro voluptates deleniti ullam deserunt ut beatae eos fugit! Libero, magnam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, ipsam!</p>
                    <p><a href="#">Read more...</a></p>
                </div>
            </div>

            <div class="accordion__item">
                <h3 class="accordion__item-title">When and how it should be used?</h3>
                <div class="accordion__item-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro voluptates deleniti ullam deserunt ut beatae eos fugit! Libero, magnam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, ipsam!</p>
                    <p><a href="#">Read more...</a></p>
                </div>
            </div>

            <div class="accordion__item">
                <h3 class="accordion__item-title">How to configure an accordion?</h3>
                <div class="accordion__item-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro voluptates deleniti ullam deserunt ut beatae eos fugit! Libero, magnam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, ipsam!</p>
                    <p><a href="#">Read more...</a></p>
                </div>
            </div>
        </div>

        <div class="accordion" data-comp="accordion">
            <h2 class="accordion__title">Accordion: Single Item Expandable</h2>
            <p class="accordion__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe reiciendis sed iure dolorem praesentium voluptatibus quia, vitae maiores quod, quasi dolores animi consequatur exercitationem quos quas incidunt nobis dolore perspiciatis!</p>

            <div class="accordion__item accordion__item--active">
                <h3 class="accordion__item-title">What is an accordion?</h3>
                <div class="accordion__item-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro voluptates deleniti ullam deserunt ut beatae eos fugit! Libero, magnam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, ipsam!</p>
                    <p><a href="#">Read more...</a></p>
                </div>
            </div>

            <div class="accordion__item">
                <h3 class="accordion__item-title">When and how it should be used?</h3>
                <div class="accordion__item-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro voluptates deleniti ullam deserunt ut beatae eos fugit! Libero, magnam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, ipsam!</p>
                    <p><a href="#">Read more...</a></p>
                </div>
            </div>

            <div class="accordion__item">
                <h3 class="accordion__item-title">How to configure an accordion?</h3>
                <div class="accordion__item-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro voluptates deleniti ullam deserunt ut beatae eos fugit! Libero, magnam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, ipsam!</p>
                    <p><a href="#">Read more...</a></p>
                </div>
            </div>
        </div>
    </main>

    {{!-- <script type="module" src="./js/app.js"></script> --}}
</body>
</html>